Resume_Bot_JD_Matcher.blueprint.json
{
    "name": "Resume_Bot_JD_Matcher_V2_FIXED",
    "flow": [
        {
            "id": 1,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 2337631
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -26,
                    "y": 1259
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "AI_JD_Matching_Webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 87150
            },
            "mapper": {
                "key": "{{1.message.chat.id}}",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": 213,
                    "y": 1264
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "Resume_JD_Bot_State"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "chat_id",
                        "type": "text",
                        "label": null,
                        "default": "ASK_RESUME",
                        "required": true,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "stage",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": true,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "resume_link",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": true,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "jd_text",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": true,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "email",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": true,
                        "multiline": false
                    }
                ]
            },
            "onerror": [
                {
                    "id": 33,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 484,
                            "y": 1709
                        }
                    }
                }
            ]
        },
        {
            "id": 16,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 5
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 501,
                    "y": 1255
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 36,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 87150
                            },
                            "filter": {
                                "name": "Reset",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": "(?i)^(reset|restart|start|start over|clear)$",
                                            "o": "text:pattern:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "{{1.message.chat.id}}",
                                "data": {
                                    "email": "empty",
                                    "stage": "ASK_RESUME",
                                    "chat_id": "{{1.message.chat.id}}",
                                    "jd_text": "empty",
                                    "resume_link": "empty"
                                },
                                "upsert": true,
                                "overwriteArrays": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 801,
                                    "y": 355
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "Resume_JD_Bot_State"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "stage",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "resume_link",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "jd_text",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "email",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 37,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 4627852
                            },
                            "mapper": {
                                "text": "“Reset done. Send resume link again.”",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1728,
                                    "y": 269
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "AI_JD_Matching"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 20,
                            "module": "scenario-service:CallSubscenario",
                            "version": 2,
                            "parameters": {
                                "scenario": "SCN_4156439",
                                "shouldWaitForExecutionEnd": true
                            },
                            "filter": {
                                "name": "Resume Received",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{13.stage}}",
                                            "b": "ASK_RESUME",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": "https?:\\/\\/docs\\.google\\.com\\/document\\/d\\/",
                                            "o": "text:pattern:ci"
                                        },
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": "(?i)^(reset|restart|start|start over|clear)$\r\n​",
                                            "o": "text:notpattern"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "data": {
                                    "User_Message": "{{1.message.text}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 840,
                                    "y": 752
                                },
                                "restore": {
                                    "parameters": {
                                        "scenario": {
                                            "label": "Extract_Resume_Link"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "scenario",
                                        "type": "scenario",
                                        "label": "Scenario",
                                        "required": true
                                    },
                                    {
                                        "name": "shouldWaitForExecutionEnd",
                                        "type": "boolean",
                                        "label": "Wait for the scenario to finish",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "User_Message",
                                                "type": "text",
                                                "label": "",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Scenario Inputs"
                                    }
                                ],
                                "interface": [
                                    {
                                        "help": "",
                                        "name": "Resume_Link",
                                        "type": "text",
                                        "label": "",
                                        "default": "",
                                        "required": true,
                                        "multiline": false
                                    }
                                ]
                            }
                        },
                        {
                            "id": 21,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 87150
                            },
                            "mapper": {
                                "key": "{{1.message.chat.id}}",
                                "data": {
                                    "email": "",
                                    "stage": "ASK_JD",
                                    "chat_id": "{{1.message.chat.id}}",
                                    "jd_text": "",
                                    "resume_link": "{{20.Resume_Link}}"
                                },
                                "upsert": true,
                                "overwriteArrays": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1496,
                                    "y": 684
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "Resume_JD_Bot_State"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "stage",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "resume_link",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "jd_text",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "email",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 22,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 4627852
                            },
                            "mapper": {
                                "text": "✅ Resume received.\r\nNow send the Job Description (JD).\r\n​",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1975,
                                    "y": 670
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "AI_JD_Matching"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 23,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 87150
                            },
                            "filter": {
                                "name": "JD Received",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{13.stage}}",
                                            "b": "ASK_JD",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": "docs.google.com/document/d/",
                                            "o": "text:notcontain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "{{1.message.chat.id}}",
                                "data": {
                                    "email": "",
                                    "stage": "ASK_EMAIL",
                                    "chat_id": "{{1.message.chat.id}}",
                                    "jd_text": "{{1.message.text}}",
                                    "resume_link": "{{13.resume_link}}"
                                },
                                "upsert": true,
                                "overwriteArrays": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 829,
                                    "y": 1042
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "Resume_JD_Bot_State"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "stage",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "resume_link",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "jd_text",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "email",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 24,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 4627852
                            },
                            "mapper": {
                                "text": "✅ JD received.\r\nNow send your Email ID.\r\n​",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1916,
                                    "y": 919
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "AI_JD_Matching"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 25,
                            "module": "scenario-service:CallSubscenario",
                            "version": 2,
                            "parameters": {
                                "scenario": "SCN_4156423",
                                "shouldWaitForExecutionEnd": true
                            },
                            "filter": {
                                "name": "Email Received",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{13.stage}}",
                                            "b": "ASK_EMAIL",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": "@",
                                            "o": "text:contain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "data": {
                                    "User_Message": "{{1.message.text}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 801,
                                    "y": 1255
                                },
                                "restore": {
                                    "parameters": {
                                        "scenario": {
                                            "label": "Get_Email_From_Message"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "scenario",
                                        "type": "scenario",
                                        "label": "Scenario",
                                        "required": true
                                    },
                                    {
                                        "name": "shouldWaitForExecutionEnd",
                                        "type": "boolean",
                                        "label": "Wait for the scenario to finish",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "User_Message",
                                                "type": "text",
                                                "label": "",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Scenario Inputs"
                                    }
                                ],
                                "interface": [
                                    {
                                        "help": "",
                                        "name": "Recipient_Email",
                                        "type": "text",
                                        "label": "",
                                        "default": "",
                                        "required": true,
                                        "multiline": false
                                    }
                                ]
                            }
                        },
                        {
                            "id": 26,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 87150
                            },
                            "mapper": {
                                "key": "{{1.message.chat.id}}",
                                "data": {
                                    "email": "{{25.Recipient_Email}}",
                                    "stage": "PROCESSING",
                                    "chat_id": "{{1.message.chat.id}}",
                                    "jd_text": "{{13.resume_link}}",
                                    "resume_link": "{{13.resume_link}}"
                                },
                                "upsert": true,
                                "overwriteArrays": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1149,
                                    "y": 1259
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "Resume_JD_Bot_State"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "stage",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "resume_link",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "jd_text",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "email",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 27,
                            "module": "scenario-service:CallSubscenario",
                            "version": 2,
                            "parameters": {
                                "scenario": "SCN_4025471",
                                "shouldWaitForExecutionEnd": true
                            },
                            "mapper": {
                                "data": {
                                    "Resume_Link": "{{13.resume_link}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1450,
                                    "y": 1262
                                },
                                "restore": {
                                    "parameters": {
                                        "scenario": {
                                            "label": "Get_Resume_Content"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "scenario",
                                        "type": "scenario",
                                        "label": "Scenario",
                                        "required": true
                                    },
                                    {
                                        "name": "shouldWaitForExecutionEnd",
                                        "type": "boolean",
                                        "label": "Wait for the scenario to finish",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "Resume_Link",
                                                "type": "text",
                                                "label": "",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Scenario Inputs"
                                    }
                                ],
                                "interface": [
                                    {
                                        "help": "",
                                        "name": "Resume_Content",
                                        "type": "text",
                                        "label": "",
                                        "default": "",
                                        "required": true,
                                        "multiline": false
                                    }
                                ]
                            }
                        },
                        {
                            "id": 28,
                            "module": "ai-agent:RunAnAIAgent",
                            "version": 0,
                            "parameters": {},
                            "mapper": {
                                "agent": "ba6a8612-0613-4348-88f2-bf55d41c790d",
                                "timeout": "",
                                "messages": [
                                    "RESUME_CONTENT:\r\n{{27.Resume_Content}}\r\nJOB_DESCRIPTION:\n{{13.jd_text}}\nEMAIL:\r\n{{13.email}}"
                                ],
                                "threadID": "",
                                "outputType": "",
                                "additionalSystemPrompt": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1789,
                                    "y": 1253
                                },
                                "restore": {
                                    "expect": {
                                        "agent": {
                                            "label": "Resume-JD_Matcher_Agent"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "outputType": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "agent",
                                        "type": "aiagent",
                                        "label": "Agent",
                                        "required": true
                                    },
                                    {
                                        "name": "threadID",
                                        "type": "text",
                                        "label": "Thread ID",
                                        "validate": {
                                            "max": 256
                                        }
                                    },
                                    {
                                        "name": "additionalSystemPrompt",
                                        "type": "text",
                                        "label": "Additional system instructions"
                                    },
                                    {
                                        "name": "messages",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Message"
                                        },
                                        "type": "array",
                                        "label": "Messages"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "number",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 600,
                                            "min": 120
                                        }
                                    },
                                    {
                                        "name": "outputType",
                                        "type": "select",
                                        "label": "Output schema",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "make-schema"
                                            ]
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 29,
                            "module": "scenario-service:CallSubscenario",
                            "version": 2,
                            "parameters": {
                                "scenario": "SCN_4062447",
                                "shouldWaitForExecutionEnd": true
                            },
                            "mapper": {
                                "data": {
                                    "To": "{{25.Recipient_Email}}",
                                    "Content_Body": "{{28.response}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2065,
                                    "y": 1243
                                },
                                "restore": {
                                    "parameters": {
                                        "scenario": {
                                            "label": "Send Email"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "scenario",
                                        "type": "scenario",
                                        "label": "Scenario",
                                        "required": true
                                    },
                                    {
                                        "name": "shouldWaitForExecutionEnd",
                                        "type": "boolean",
                                        "label": "Wait for the scenario to finish",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "To",
                                                "type": "text",
                                                "label": "",
                                                "required": true
                                            },
                                            {
                                                "name": "Content_Body",
                                                "type": "text",
                                                "label": "",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Scenario Inputs"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 30,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 4627852
                            },
                            "mapper": {
                                "text": "Report sent to your email: {{25.Recipient_Email}}",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2401,
                                    "y": 1258
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "AI_JD_Matching"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 31,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 87150
                            },
                            "mapper": {
                                "key": "{{1.message.chat.id}}",
                                "data": {
                                    "email": "empty",
                                    "stage": "ASK_RESUME",
                                    "chat_id": "{{1.message.chat.id}}",
                                    "jd_text": "empty",
                                    "resume_link": "empty"
                                },
                                "upsert": true,
                                "overwriteArrays": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2664,
                                    "y": 1247
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "Resume_JD_Bot_State"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "stage",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "resume_link",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "jd_text",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "email",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 17,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 4627852
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{13.stage}}",
                                            "o": "notexist"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{13.stage}}",
                                            "b": "ASK_RESUME",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": "docs.google.com/document/d/",
                                            "o": "text:notcontain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "Hi — send your Resume Google Doc link (view access enabled).\r\n​",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 801,
                                    "y": 1555
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "AI_JD_Matching"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 34,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 87150
                            },
                            "mapper": {
                                "key": "{{1.message.chat.id}}",
                                "data": {
                                    "email": "empty",
                                    "stage": "ASK_RESUME",
                                    "chat_id": "{{1.message.chat.id}}",
                                    "jd_text": "empty",
                                    "resume_link": "empty"
                                },
                                "upsert": true,
                                "overwriteArrays": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1706,
                                    "y": 1785
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "Resume_JD_Bot_State"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "stage",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "resume_link",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "jd_text",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "email",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "disabled": true,
                    "flow": [
                        {
                            "id": 35,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 4627852
                            },
                            "filter": {
                                "name": "Wrong Input Fallback",
                                "conditions": []
                            },
                            "mapper": {
                                "text": "{{{{if(13.stage + \"=ASK_RESUME\"; \"❌ Wrong format.\\n\\n✅ Please send ONLY your Resume Google Doc link.\\nExample:\\nhttps://docs.google.com/document/d/XXXX\"; if(13.stage + \"=ASK_JD\"; \"❌ Wrong input.\\n\\n✅ Please send ONLY the Job Description text (JD) now.\"; if(13.stage + \"=ASK_EMAIL\"; \"❌ Invalid Email.\\n\\n✅ Please send a valid email.\\nExample: name@gmail.com\"; \"❌ I didn't understand.\\nType hi to restart.\")))}}",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 801,
                                    "y": 1855
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "AI_JD_Matching"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    },
    "io": {
        "input_spec": [],
        "output_spec": [
            {
                "help": "",
                "name": "Chat_ID",
                "type": "text",
                "label": "",
                "default": "",
                "required": true,
                "multiline": false
            }
        ]
    }
}